* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

a {
    width: 300px;
    height: 60px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    top: -3px;
    left: -3px;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    top: 3px;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
    left: 3px;
}
a:hover:before{
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}
a:hover::after{
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}
a:hover{
    color: #222;
}