* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    background-color: crimson;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn {
    padding: 2rem 5rem;
    color: #fff;
    background-color: black;
    outline: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transform: all 0.5s;

}

.btn::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    left: -8px;
    border-top: 4px solid cyan;
    border-left: 4px solid cyan;
        transition: all ease 0.6s;


}

.btn::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -8px;
    right: -8px;
    border-bottom: 4px solid cyan;
    border-right: 4px solid cyan;
        transition: all ease 0.6s;

}

.btn:hover::before,
.btn:hover::after {
    width: 100%;
    height: 100%;
    transition: all ease 0.6s;
}