* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: sans-serif;
}

.container a {
    padding: 2rem 5rem;
    border: 1px solid whitesmoke;
    text-decoration: none;
    color: white;
    position: relative;
}

a::before {
    content: "Download";
    background-color: yellowgreen;
    position: absolute;
    width: 100%;
    color: #222;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatex(270deg);
    transform-origin: top;
    transition: all 1s;
}
a::after {
    content: "Download";
    background-color: cyan;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: black;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatex(270deg);
    transform-origin: top;
    transition: all 1s;
}
.container a:hover::before {
    transform: rotateX(0deg);
}

.container a:hover::after {
    transform: rotateX(0deg);
}

.container a::before {
    transition: all 1s;
}

.container a::after {
    transition: all 1s;
    transition-delay: 0.5s;   
}
